// Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

// General style overrides and custom classes
@import 'theme';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.section-sidebar {
  background: aqua;
}

.section-main {
  padding: 2rem;
  background: dimgrey;
}

.section-header {
  height: 5rem;
  background: darkolivegreen;
}

.main-container {
  min-height: 100vh;
  min-width: 100vh;
}
